* {
    padding: 0%;
    box-sizing: border-box;
}

p {
    background-color: pink;
    color: black;
    width: 50ch;
}

body {
    background-color: rgba(140, 50, 67, 0.61);
}

.sec {
    color: rgb(22, 98, 8);
}

h1 {
    border: 2px dotted rebeccapurple;
    width: 25%;
    padding: 0.5em;
}