    /* you can import the url here for font from fonts.google.com*/
    
    body {
        /* background-color: blue; */
        /* padding: 20%; */
        /* margin: 10%; */
        font-size: 1.5rem;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    
    input,
    button {
        font: inherit;
        text-align: center;
        /*to inherit the property of body*/
        border-radius: 25px;
    }
    
    p {
        text-decoration: underline;
        text-align: left;
        text-indent: 2em;
        line-height: 1.4;
        letter-spacing: 1.5px;
        word-spacing: 2.5px;
        font-weight: 400;
        font-style: italic;
        background-color
    }
    
    button {
        background-color: green;
        color: aliceblue;
    }